$color-primary: #E42436;
$color-selected: #0ce157;
$color-tertiary: #E7B853;
$color-tertiary-dark: #D89322;
$color-secondary: #EBEBEB;
$color-secondary-dark: #565656;
$color-grey: #777;
$color-light-grey: #c4c4c4;
$color-text: #333;
$color-white: #fff;
$color-gold: #dc9f26;
$color-blue: #246d9d;
$color-off-white: #fafafa;
$color-text-grey: #a7a7a7;

$layout-header-height: 80px;
$layout-aside-width: 240px;

$padding: 24px;
$padding-xxl: 56px;
$padding-xl: 48px;
$padding-lg: 36px;
$padding-md: 30px;
$padding-sm: 15px;
$padding-xs: 10px;
$padding-xxs: 5px;

$text-size-xxl: 44px;
$text-size-xl: 32px;
$text-size-lg: 24px;
$text-size-md: 20px;
$text-size: 15px;
$text-size-sm: 13px;
$text-size-xs: 11px;

$side-by-side-btn: 8px;
$radius-large: 8px;
$border-radius: 6px;
$radius-small: 3px;
$border: 1px solid #e0e0e0;
$border-color: #dadada;
$light-border: 1px solid #eaeaea;
$grid-gap: 20px;

$family-serif: "proxima-nova";

$dashboard-preview-size: 106px;
